* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(IMG_2469.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
    backdrop-filter: blur(4px);
}

header {
    background-color: grey;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

li {
    margin-right: 5rem;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
}

a:hover {
    border-bottom: 2px solid orange;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    position: relative;
    
}

h1 {
    font-size: 3rem;
    color: orange;
    padding: 0 1rem;
    border-bottom: 3px solid;
    border-left: 3px solid;
}

h3 {
    color:rebeccapurple;
    font-size: 1.6rem;
    font-family: cursive; 
    
}

h3:hover {
    background-color: white;
}
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: grey;
    width: 100vw;
    padding: 1rem;
    font-size: 1.2rem;
    color: aliceblue;
    text-align: right;
}